@charset "UTF-8";

/**
 * dskd.jp Stylesheet take on BEM.
 *
 *   * @author  Akiyoshi Oti
 *   * @version 3.0 (Dec. 2013)
 *   * @browser IE9+, Chrome 31+, Firefox 25+, Safari 5.1+,
 */

html,body,p,h1,h2,h3{
  margin: 0;
  padding: 0;
}

ul,ol{
  margin: 0;
}

body{
  margin: auto;
  font: Arial, "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", "ＭＳ Ｐゴシック", Osaka;
  font-size: 16px;
  color: #263540;
  background: url(/img/bg.png) repeat fixed #c2cad0;
}

img{
  -ms-interpolation-mode: bicubic;
  border: 0 none;
  text-decoration: none;
  vertical-align: top;
  background: transparent;
}

a{
  text-decoration: none;
  outline: none;
}

a:link{
  color: #0075a9;
}

a:visited{
  color: #ca176e;
}

a:hover{
  color: #629a00;
  text-decoration: underline;
}

a:active{
  color: #ca176e;
}

a:focus{
  color: #629a00;
  text-decoration: underline;
}

::-moz-selection{
  color: #b9c3c9;
  background: #263540;
  text-shadow: none;
}

::selection{
  color: #b9c3c9;
  background: #263540;
  text-shadow: none;
}

hr{
  margin: 4px auto 20px;
  height: 15px;
  border: none;
  line-height: 0;
  background: url(/img/bg_hr.png) no-repeat center center;
}

/* layout */
.layout--horizon{
  margin: 15px 0;
}

.layout--horizon .layout--horizon__item{
  display: table-cell;
  margin: 15px 0;
}

.layout--horizon__item > [class*="-header__item"]{
  margin-right: 10px;
  padding: 3px 10px 3px 0;
  border-right: 1px solid #263540;
  width: 110px;
  font-size: 20px;
  font-family: Arial;
  text-align: right;
}

.contents{
  margin: 0 auto;
  width: 840px;
}

/* header,footer,author */
.header{
  position: relative;
  text-align: left;
}

.header__logo{
  margin: 10px auto 30px;
  padding-left: 215px;
  height: 42px;
  font-size: 25px;
  line-height: 72px;
}

.header__logo i{
  display: none;
}

.header__logo a{
  position: absolute;
  top: 10px;
  left: 131px;
  width: 72px;
  height: 42px;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  background: url(/img/logo.png) no-repeat 0 0;
}

.header__logo a:hover{
  background-position: 0 -42px;
}

/* neighbor */
.neighbor__item{
  margin-left: 10px;
  width: 585px;
}

.neighbor__item::after{
  content: "\20\bb";
}

/* pager */
.neighbor-pager{
  padding: 0;
  list-style: none inside;
  font-family: Arial;
}

.neighbor-pager__item{
  display: table-cell;
  padding: 0 10px 0 0;
}

/* archives */
.archives-year{
  padding: 0 30px 0 0;
}

.archives-year__title{
  font-size: 18px;
}

.archives-year__monthly{
  padding: 0 0 0 1.3em;
  font-size: 15px;
  line-height: 1.6;
}

/* credit */
.credit__item--small{
  font-family: Arial;
}

/* author */
.author__name{
  padding: 0 10px 0 0;
}

.author__address{
  padding: 0 10px 0 0;
  font-size: 15px;
  font-family: Arial;
  font-style: normal;
}

.author-accounts{
  margin: 0;
  padding: 0;
}

.author-accounts__item{
  display: inline;
  padding: 0 10px 0 0;
  font-size: 15px;
  font-family: Arial;
}

/* button */
.button{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 4px 7px;
  border: 1px solid #677d8b;
  border-radius: .25em;
  background: #677d8b;
}

a.button:link,
a.button:visited{
  color: #b9c3c9;
  text-decoration: none;
}

a.button:hover{
  color: #677d8b;
  background: #b9c3c9;
}

.button--disable{
  background: transparent;
}

/* article */
.article{
  padding: 0 10px 0 110px;
  width: 610px;
}

.article__item{
  position: relative;
  margin-bottom: 30px;
  padding: 0 0 0 25px;
}

/* article header */
.article-header{
  margin-left: -15px;
  padding: 2px 0 2px 10px;
  border-left: 1px solid #263540;
}

.article-header .article-header__item{
  font-size: 28px;
  line-height: 1.2;
}

/* article footer(time, category) */
.article__item--latest .article-footer,
.article__item--individual .article-footer{
  margin-bottom: 15px;
}

.article-footer__pubtime{
  position: absolute;
  top: 5px;
  left: -90px;
  font-size: 18px;
  font-family: Arial;
  font-weight: bold;
  text-align: right;
}

.article-footer__categories{
  margin: 0 0 0 -15px;
  padding: 2px 0 2px 15px;
  border-left: 1px solid #677d8b;
  font-family: Arial;
  font-size: 14px;
}

.article-footer__categories-title,
.article-footer__categories-item{
  display: inline;
  margin: 0;
  padding: 0;
}

/* article content */
.article__item--individual h2,
.article__item--individual h3{
  position: relative;
  margin: 1.5em 0 0.5em;
  font-size: 18px;
  line-height: 1.4;
}

.article__item--individual h2::before,
.article__item--individual h3::before{
  content: "";
  position: absolute;
  top: 8px;
  left: -10px;
  display: block;
  width: 8px;
  height: 8px;
  border-radius: 0 8px 8px 0;
  background: #677d8b;
}

.article__item p{
  margin-bottom: 1em;
  font-size: 16px;
  line-height: 1.6;
}

.article__item p a{
  text-decoration: underline;
}

.article-nav__more{
  font-family: Arial;
}

.article-nav__more::after{
  content: "\20\bb";
}

.article__item ul,
.article__item ol{
  margin-bottom: 1em;
  padding-left: 1.5em;
}

.article__item figure{
  margin: 1em 0;
  padding: 0 10px;
  border: 10px solid #a7b4bc;
  border-radius: .2em;
  font-size: 15px;
  text-align: center;
}

.article__item figcaption{
  margin: 10px 0;
  font-weight: bold;
}

.article__item figure img{
  margin: 0 0 10px;
}

.article__item figure img[class*="--scale50"]{
  width: 50%;
}

.article__item figure p{
  margin: 0 0 10px;
}

.article__item del{
  color: #677d8b;
}

.article__item ins{
  color: #af0000;
  text-decoration: none;
}

.article__item ins[data-insdate]::before{
  content: "\20" attr(data-insdate);
  font-size: 15px;
  color: #484848;
  background: #a7b4bc;
}

.article__item blockquote{
  position: relative;
  margin: 1em -1em;
  padding: 10px 10px 10px 40px;
  border: 10px solid #a7b4bc;
  border-radius: .2em;
  font-size: 15px;
  background: #e8e9e3;
}

.article__item blockquote::before{
  content: "“";
  position: absolute;
  top: 45px;
  left: 3px;
  color: #a7b4bc;
  font-size: 100px;
  font-family: Arial;
  line-height: 0;
}

.article__item blockquote p{
  margin: 0 0 0.5em;
}

.article__item blockquote footer{
  font-size: 13px;
  text-align: right;
}

.article__item blockquote footer cite{
  padding-right: 5px;
  font-style: normal;
}

.replacement--insert ins{
  color: #263540;
}

/* Third Party Widget Style Overrides */
#twitter-widget-0{
  margin: 0 auto 1em !important;
}

/**
 * Custum Stylesheet from Blackboard theme
 * (http://craig.is/making/rainbows)
 *
 *   * Adapted from Domenico Carbotta's TextMate theme of the same name
 *
 *   * @author Domenico Carbotta
 *   * @author Craig Campbell
 *   * @version 1.0.2
 */

pre {
  margin: 1em 0;
  padding: 10px;
  border: 10px solid #a7b4bc;
  border-radius: 0.25em;
  color: #ffffff;
  font-size: 14px;
  word-wrap: break-word;
  background: url(/img/bg_code.gif) #263540;
}

pre, code {
  font-family: 'Consolas', 'Source Code Pro', 'Monaco', courier, monospace;
}

pre .comment {
  color: #727272;
}

pre .constant {
  color: #D8FA3C;
}

pre .storage {
  color: #FBDE2D;
}

pre .string, pre .comment.docstring {
  color: #61CE3C;
}

pre .string.regexp, pre .support.tag.script, pre .support.tag.style {
  color: #fff;
}

pre .keyword, pre .selector {
  color: #FBDE2D;
}

pre .inherited-class {
  font-style: italic;
}

pre .entity {
  color: #FF6400;
}

pre .support, *[data-language="c"] .function.call {
  color: #8DA6CE;
}

pre .variable.global, pre .variable.class, pre .variable.instance {
  color: #FF6400;
}​