//- _page.pug
//- 単一ページ用テンプレート
extends _default

block contents
  article.post
    header.post__header
      h1.post__title(itemprop='name')= page_title

    .post__body(itemprop='articleBody')
      != contents
