//- _index.pug
//- ブログトップ
extends default

block contents
  - var index_title = ''
  if page_type === 'index'
    - index_title = 'post'
  else if page_type === 'archives'
    - index_title = 'archives'
  else if page_type === 'tag' || page_type === 'year' || page_type === 'demo-index'
    - index_title = page_title

  - var post_list
  if page_type === 'index' || page_type === 'archives'
    - post_list = archives
  else if page_type === 'tag'
    - post_list = tags[page_title]
  else if page_type === 'year'
    - post_list = years[page_title]
  else if page_type === 'demo-index'
    - post_list = demos

  section
    .hang
      h1.hang__heading= index_title
      ul.stackList
        each post, i in post_list
          //- indexでは5件出力したら抜ける
          if page_type === 'index' && i === 5
            - return
          li.stackList__item
            a.stackList__main(href='/'+archives_base+post.page_id+'.html')= post.page_title
            .stackList__sub
              +timestamp(post.page_datetime)
              +tag(post.page_tag, post.page_type)

    if page_type === 'index'
      .space(style='--h: 30px')

      footer.more
        a(href='/'+archives_base, aria-label='全記事リストを見る') more posts »

  if page_type !== 'demo-index'
    .space(style='--h: 30px')

    .border

    .space(style='--h: 30px')

    +tag-list(archives, archives_base)

    +year-list(archives, archives_base)

    .space(style='--h: 30px')

  if page_type === 'index'

    .space(style='--h: 30px')

    aside.hang(role='complementary')
      h1.hang__heading subscribe
      ul.flowList
        li.flowList__item
          a(href='https://twitter.com/'+blog_twitter) Twitter
        li.flowList__item
          a(href=blog_url+blog_feed, itemprop='sameAs') RSS
