//- _index.pug
//- ブログトップ、全記事一覧、タグ一覧、年別記事一覧テンプレート
extends default

block contents
  -
    const heading = page_type === 'index' ? '最近の記事' : page_description
    const post_list =
      page_type === 'index'
        ? archives.slice(0,5) //- indexでは5件出力だけ出力する
        : page_type === 'archives'
          ? archives
          : page_type === 'tag'
            ? tags[page_title]
            : page_type === 'year'
              ? years[page_title]
              : []

  section
    .section
      h2.section__heading= heading
      ul.postList
        each post, i in post_list
          li.postList__item(id=`post-${post.page_id}`)
            a.postList__title(href=`${archives_base}${post.page_id}.html`)= post.page_title
            .postList__time
              +timestamp(post.page_datetime)
            .postList__tag
              span.visuallyHidden タグ
              +tagging(post.page_tag, post.page_type)

    if page_type === 'index'
      footer.more.space
        a(href=`${archives_base}`) 全ての記事

  nav.section.border
    h2.section__heading 年別
    +year-list(years, archives_base)

  nav.section.space
    h2.section__heading タグ別
    +tag-list(tags, archives_base)

  if page_type === 'index'

    aside.section.space
      h2.section__heading 購読
      +subscribe-list
