//- _post.pug
//- 個別記事用テンプレート
extends default

block contents
  article.post
    footer.post__footer
      +timestamp(page_datetime)
      +tag(page_tag, page_type)

    header.post__header
      h1.post__title(itemprop='name')= page_title

    .post__body(itemprop='articleBody')
      != contents

    .space(style='--var: 15px')

    aside.post__external
      +contribute(post_contribute, page_id)

      +social(page_title, blog_url+archives_base+page_id+'.html')

  .space(style='--h: 30px')

  .border

  .space(style='--h: 30px')

  +neighbor(neighbors, page_id, archives_base)
