@font-face {
  font-family: 'Vegur-Regular';
  src: local('Vegur Regular'), local('VegurRegular'), url(/dist/font/Vegur-Regular.woff) format('woff');
}

@font-face {
  font-family: 'Vegur-Light';
  src: local('Vegur Light'), local('VegurLight'), url(/dist/font/Vegur-Light.woff) format('woff');
}

@font-face {
  font-family: 'Vegur-Bold';
  src: local('Vegur Bold'), local('VegurBold'), url(/dist/font/Vegur-Bold.woff) format('woff');
}

