// .entry-list
.entry-list {
  > a{
    display: block;
    margin-bottom: 30px;
    text-decoration: none;

    &:hover h1{
      text-decoration: underline;
    }

    footer{
      color: #263540;
    }
  }
}

.entry-more{
  margin-top: 60px;
  font-size: 16px;

  a{
    padding-left: 5px;

    &::before{
      @extend %dotMark;
    }
  }
}
