// .entry-list
.entry-list {
  a{
    display: block;
    margin-top: 30px;
    text-decoration: none;

    &:hover h1{
      text-decoration: underline;
    }

    footer{
      color: #263540;
    }
  }
}

.entry-more{
  margin-top: 60px;
  font-size: 16px;

  a{
    display: inline;
    padding-left: 5px;

    &::before{
      content: '';
      display: inline-block;
      border-radius: 6px;
      margin-right: 10px;
      width: 6px;
      height: 6px;
      vertical-align: middle;
      background-color: rgba(0,0,0, .15);
    }
  }
}
