// block common
.global-header,
.content,
.neighbor,
.global-footer{
  box-sizing: border-box;
  margin: auto;
  padding: 0 15px;
  min-width: 320px;
  max-width: 640px;
}

.entry-list,
.entry,
.entry-archive,
.entry-category,
.subscribe,
.neighbor,
.global-footer{
  margin-top: 30px;
  padding-top: 30px;
  border-top: 1px solid rgba(0,0,0, .15);
}

.content-mainheading{
  margin: 0;
  font-size: 22px;
}

.content-subheading{
  float: left;
  margin: 0;
  font-size: 18px;
}
