// entry aside
.social-buttons{
  ul{
    margin: 0;
    padding: 0;
    text-align: right;
  }

  ul::before{
    content: 'share:';
    display: inline-block;
    vertical-align: top;
    color: rgba(0,0,0,.45);
  }

  li{
    display: inline-block;
    margin-left: 15px;
  }

  a{
    display: block;
    width: 25px;
    height: 25px;
    text-indent: 101%;
    white-space: nowrap;
    overflow: hidden;
    background: no-repeat center center;
    background-size: 25px;
  }

  .twitter-tweet{
    background-image: url(/dest/svg/twitter.svg);
  }

  .facebook-share{
    background-image: url(/dest/svg/facebook.svg);
  }

  .googleplus-share{
    background-image: url(/dest/svg/googleplus.svg);
  }

  .hatena-bookmark{
    background-image: url(/dest/svg/hatena-bookmark.svg);
  }
}

.neighbor{
  margin-top: 30px;
  padding-top: 30px;
  border-top: 1px solid rgba(0,0,0, .15);
}

.old-new-links{
  position: relative;
  list-style-type: none;
  list-style-position: inside;
  margin: 0;
  padding: 0;

  li{
    padding: 0;
  }

  li::before{
    color: rgba(0,0,0,.45);
    display: inline-block;
    margin-right: 5px;
    width: 50px;
    text-align: right;
  }

  .old-link::before{
    content: 'older:';
  }
  .new-link::before{
    content: 'newer:';
  }
}


