// entry body
.entry-body{
  h2{
    margin: 1.875em 0 1em;
    font-size: 1.125em;
    font-weight: bold;
    font-family: 'Vegur-Bold';

    &::before{
      @extend %headMark;
    }
  }

  p{
    margin: 0;
    // text-indent: 1em;
    &+p{
      margin-top: 1.5em;
    }
  }

  .spacing{
    padding: 0 .25em;
  }

  a[href*="demo"]{
    padding-left: 1.125em;
    background-image: url(/dist/svg/hyperlink.svg);
    background-repeat: no-repeat;
    background-size: 1.125em auto;
  }

  img{
    max-width: 100%;
  }

  img:not(:only-child){
    float:left;
  }

  img+img{
    float:left;
  }

  strong{
    color: #dd0000;
    font-weight: bold;
  }

  em{
    color: #007D88;
    font-weight: bold;
  }

  pre{
    padding: .5em;
    font-size: .875em;
    font-family: Consolas, monospace;
    background-image: url(/dist/img/bg2.png);
    overflow-x: scroll;
  }

  ins{
    text-decoration: none;
  }

  del{
    color: #648294;
  }

  ins::before,
  ins::after,
  del::before,
  del::after{
    padding: 0 .1875em .0625em;
    border-radius: .1875em;
    color: #091117;
    font-size: .875em;
    line-height: 1;
    background-color: rgba(0,0,0,.15);
  }

  ins::before{
    content: "\3cins\3e";
    margin-right: .125em;
  }

  ins::after{
    content: "\3c\2fins\3e";
    margin-left: .125em;
  }

  del::before{
    content: "\3cdel\3e";
    margin-right: .125em;
  }

  del::after{
    content: "\3c\2fdel\3e";
    margin-left: .125em;
  }

  hr{
    margin: 1.875em auto;
    height: 1em;
    border: none;
    line-height: 0;
    background: url(/dist/svg/dash.svg) no-repeat center center;
  }

  table{
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    width: 100%;
    border-collapse: collapse;
    text-align: center;
  }

  caption{
    font-family: 'Vegur-Bold';
    font-weight: bold;
    background-image: url(/dist/img/bg2.png);
  }

  tr{
    border-top: 1px solid rgba(0,0,0, .1);
  }

  tr:nth-child(2n){
    background-color: rgba(255,255,255,.1);
  }

  th{
    // border: 1px solid rgba(0,0,0, .15);
    font-family: 'Vegur-Bold';
    // background-image: url(/dist/img/bg2.png);
  }

  td{
    // border: 1px solid rgba(0,0,0, .15);
  }
}
