// entry body
.entry-body{
  h2{
    margin: 30px 0 16px;
    font-size: 18px;
    font-weight: bold;
    font-family: 'Vegur-Bold';

    &::before{
      @extend %headMark;
    }
  }

  p{
    margin: 0;
    // text-indent: 1em;
    &+p{
      margin-top: 1.5em;
    }
  }

  .spacing{
    padding: 0 .3em
  }

  pre{
    padding: .5em;
    font-size: 14px;
    font-family: Consolas, monospace;
    background-image: url(/dist/img/bg2.png);
    overflow-x: scroll;
  }

  hr{
    margin: 30px auto;
    height: 15px;
    border: none;
    line-height: 0;
    background: url(/dist/svg/dash.svg) no-repeat center center;
  }

  img{
    max-width: 100%;
  }

  img:not(:only-child){
    float:left;
  }

  img+img{
    float:left;
  }

  table{
    margin-top: 24px;
    margin-bottom: 24px;
    width: 100%;
    border-collapse: collapse;
    text-align: center;
  }

  caption{
    font-family: 'Vegur-Bold';
    font-weight: bold;
    background-image: url(/dist/img/bg2.png);
  }

  tr{
    border-top: 1px solid rgba(0,0,0, .1);
  }

  tr:nth-child(2n){
    background-color: rgba(255,255,255,.1);
  }

  th{
    // border: 1px solid rgba(0,0,0, .15);
    font-family: 'Vegur-Bold';
    // background-image: url(/dist/img/bg2.png);
  }

  td{
    // border: 1px solid rgba(0,0,0, .15);
  }
}
