// entry body
.entry-body{
  p{
    text-indent: 1em;
    &+p{
      margin-top: 24px;
    }
  }

  pre{
    padding: .5em;
    font: 14px 'Consolas', monospace;
    background-image: url(/dist/img/bg2.png);
  }

  hr{
    margin: 30px auto;
    height: 15px;
    border: none;
    line-height: 0;
    background: url(/dist/svg/dash.svg) no-repeat center center;
  }

  img{
    max-width: 100%;
  }

  img:not(:only-child){
    float:left;
  }

  img+img{
    float:left;
  }

  table{
    width: 100%;
    border-collapse: collapse;
    text-align: center;
  }

  tr:nth-child(2n+1){
    background-color: rgba(255,255,255,.15)
  }

  th{
    border: 1px solid rgba(0,0,0, .15);
    font: 18px 'Vegur-Bold';
    background-image: url(/dist/img/bg2.png);
  }

  td{
    border: 1px solid rgba(0,0,0, .15);
  }
}
