//- _neighbor.jade
mixin neighbor(neighbors, page_id, archives_base)
  -
    var page        = neighbors[page_id]
    var older       = page.older
    var newer       = page.newer
    var older_title = (older && older !== 'undefined') ? older.page_title : null
    var older_id    = (older && older !== 'undefined') ? older.page_id : null
    var newer_title = (newer && newer !== 'undefined') ? newer.page_title : null
    var newer_id    = (newer && newer !== 'undefined') ? newer.page_id : null

  nav.neighbor
    ul.neighbor-list
      if newer_title
        li.neighbor-list__item.neighbor-list__item--newer
          a.neighbor-link(href=('/'+archives_base+newer_id+'.html'))=newer_title

      if older_title
        li.neighbor-list__item.neighbor-list__item--older
          a.neighbor-link(href=('/'+archives_base+older_id+'.html'))=older_title

