//- _neighbor.jade
mixin neighbor(neighbors, page_id, blog_url, archives_base)
  - var old_title;
  - var old_id;
  - var new_title;
  - var new_id;
  - if(neighbors[page_id].older) {
      - old_title = neighbors[page_id].older.page_title;
      - old_id    = neighbors[page_id].older.page_id
  - }
  - if(neighbors[page_id].newer) {
      - new_title = neighbors[page_id].newer.page_title;
      - new_id    = neighbors[page_id].newer.page_id
  - }
  nav.neighbor
      ul.neighbor-list
        - if(new_title) {
            li.neighbor-list__item.neighbor-list__item--newer
              a.neighbor-link(href=('/'+archives_base+new_id+'.html'))=new_title
        - }
        - if(old_title) {
            li.neighbor-list__item.neighbor-list__item--older
              a.neighbor-link(href=('/'+archives_base+old_id+'.html'))=old_title
        - }
