//- _social.jade
mixin social(title, permalink)
  //- エスケープしたり専用パラメータに変えたりは後で書く
  - var escaped_title = encodeURIComponent(title)
  - var escaped_permalink = encodeURIComponent(permalink)
  - var tw_href = 'https://twitter.com/intent/tweet?text='+escaped_title+'&'+escaped_permalink+'&via=dskd_jp&related=o_ti"'
  - var fb_href = 'https://www.facebook.com/sharer/sharer.php?u='+escaped_permalink
  - var gp_href = 'https://plus.google.com/share?url='+escaped_permalink
  - var hb_href = 'http://b.hatena.ne.jp/my/add.confirm?title='+escaped_permalink
  aside.post__social(role='complementary')
    ul.social-list
      li.social-list__item.social-list__item--twitter
        a.social-link(href=tw_href) Tweet
      li.social-list__item.social-list__item--facebook
        a.social-link(href=fb_href) Share on Facebook
      li.social-list__item.social-list__item--gplus
        a.social-link(href=gp_href) Share on google+
      li.social-list__item.social-list__item--hatebu
        a.social-link(href=hb_href) Bookmark on Hatena
