//- _tag.jade
mixin tag(page_tag, page_type)
  p.post-tag
    each val, index in page_tag
      - var tag_name;
      //- 最後以外は「, 」をつける
      - if(index < page_tag.length-1) {
        - tag_name = val+', '
      - } else {
        - tag_name = val
      - }
      - if(page_type === 'post') {
          a.tag-link(href=('/'+archives_base+val.toLowerCase().replace(' ', '_').replace('.', '_')+'.html'))=tag_name
      - } else {
          | #{tag_name}
      - }
