//- _tag-list.jade
mixin tag-list(archives, archives_base)
  - var tags_cache = []
  - var tags_pool = []
  - var tags = []
  //- 重複しているであろうタグの配列を作る
  each post, i in archives
    each one, j in post.page_tag
      - tags_cache.push(one)
  //- ユニークにする
  - tags_pool = tags_cache.filter(function (x, i, self) {
  -   return self.indexOf(x) === i;
  - });
  //- アルファベット順に並び替える
  - tags = tags_pool.sort(function(a, b){
  -   return a.localeCompare(b);
  - });
  ul.tag-list
    each tag, i in tags
      li.tag-list__item
        a.tag-link(href='/'+archives_base+tag.toLowerCase().replace(' ', '_')+'.html')=tag
