script.
  document.documentElement.classList.remove('-no-js');
script(type="module").
  document.querySelector("#Back").addEventListener("click", () => history.back(), false);

  const HTML = document.documentElement;
  const SWITCH = document.querySelector("#Switch");
  const MODE_LIST = [...SWITCH.querySelectorAll(`[name="switch"]`)].map((elem) => elem.value);

  function updateMode(value) {
    localStorage.setItem("prefer-dskd-mode", value);
    HTML.classList.remove(...MODE_LIST);
    HTML.classList.add(value);
  }

  function mountModeChanger(value) {
    updateMode(value);

    SWITCH.querySelector(`[value="${value}"]`).setAttribute("checked", true);
    SWITCH.addEventListener("input", ({ target: { value }}) => updateMode(value), false);
  }

  try {
    const preferMode = localStorage.getItem("prefer-dskd-mode");
    const initMode = MODE_LIST.includes(preferMode) ? preferMode : MODE_LIST[0];
    mountModeChanger(initMode);
  } catch (e) {
    console.log(e);
    document.querySelector(".Mode").setAttribute("hidden", true);
  }
