//- _neighbor.pug
mixin neighbor(newer, older, archives_base)
  nav.neighbor.border
    ul.neighbor__list
      if newer.page_title
        li.neighbor__item.-newer
          a(href=`${archives_base}${newer.page_id}.html`)= newer.page_title
          span （1つ未来）
      if older.page_title
        li.neighbor__item.-older
          a(href=`${archives_base}${older.page_id}.html`)= older.page_title
          span （1つ過去）
