//- _subscribe-list.pug
mixin subscribe-list()
  ul.subscribeList
    li.subscribeList__item
      a(href='https://twitter.com/'+blog_twitter, target='_blank') Twitter
    li.subscribeList__item
      a(href=blog_url+blog_feed, itemprop='sameAs', target='_blank') RSS
