//- _tag.pug
mixin tag(page_tag, page_type)
  p.post__tag
    each tag, i in page_tag
      if page_type === 'post'
        a(href='/'+archives_base+tag.toLowerCase().replace(' ', '_').replace('.', '_')+'.html')= tag
        //- 最後以外は「, 」をつける
        if i < page_tag.length-1
          | , 
      else
        | #{tag}
        if i < page_tag.length-1
          | , 
