//- _tagging.pug
mixin tagging(tags)
  ul.tagging
    each tag in tags
      li.tagging__item
        a(
          href=`${archives_base}${tag.toLowerCase().replace(/[ .-]/g, '_')}.html`
        )= tag
