//- _year-list.pug
mixin year-list(archives, archives_base)
  - var years_pool   = []
  - var years_unique = []

  //- 重複しているであろう配列を作る
  each post, i in archives
    - years_pool.push(post.page_datetime.substring(0,4))

  -
    //- ユニークにする
    years_unique = years_pool.filter(function(year, i, arr){
      return arr.indexOf(year) === i
    });

  ol.yearList(reversed='')
    each year, i in years_unique
      li.yearList__item
        a(href='/'+archives_base+year+'.html')= year
