//- _year-list.pug
mixin year-list(archives, archives_base)
  ol.yearList(reversed=true)
    each year, i in [... new Set(archives.map((post) => post.page_datetime.substring(0,4)).flat())].sort((a, b) => b.localeCompare(a))
      li.yearList__item
        a(class=(page_title === year) ? '-current' : '', href='/'+archives_base+year+'.html', aria-current=(page_title === year) && "page")= year
