//- _global-header.jade
//-
header.global-header(role='banner')
  h1.logo
    a.logo-link(href='/')
      img.logo__img(alt='dskd', src='/img/logo.svg', width='100', height='60')
  nav.site-nav(role='navigation')
    ul.site-nav-list
      li.site-nav-list__item
        a.site-nav-list-link(href='./archives/') ARCHIVES
      li.site-nav-list__item
        a.site-nav-list-link(href='./archives/demo/') DEMO
      li.site-nav-list__item
        a.site-nav-list-link(href='./about/') ABOUT
  p.lede dskd.jp is a memorandum of simple front-end technology.
