@import 'config/mixins'
@import 'config/banner'

@import 'foundation/root'
@import 'foundation/reset'
@import 'foundation/base'

body
  margin: var(--space-default) auto
  padding: 0 var(--space-small)
  max-width: 1024px

.Logo
  display: block
  width: 72px
  height: 36px
  vertical-align: top

  path
    fill: var(--color-text)
    vertical-align: top

.Primary
  font-size: var(--font-size-small)

.Pages
  display: flex
  gap: var(--space-tiny)
  flex-wrap: wrap
  margin-top: var(--space-small)
  font-size: var(--font-size-default)
  line-height: var(--line-height-small)

  li
    list-style: none

  address
    display: inline

.License
  font-size: 1rem
  line-height: var(--line-height-small)

.Border
  &::before
    content: ""
    display: block
    margin: var(--space-large) 0 var(--space-small)
    width: var(--space-small)
    height: 1px
    background-color: var(--color-text)

.Invisible
  position: fixed !important
  top: 0 !important
  left: 0 !important
  display: block !important
  width: 4px !important
  height: 4px !important
  margin: 0 !important
  padding: 0 !important
  border: none !important
  opacity: 0 !important
  overflow: hidden !important
  visibility: visible !important

@import 'module/author'
@import 'module/visuallyHidden'
@import 'module/border'
@import 'module/container'
@import 'module/contents'
@import 'module/contribute'
@import 'module/footer'
@import 'module/header'
@import 'module/license'
@import 'module/logo'
@import 'module/more'
@import 'module/nav'
@import 'module/neighbor'
@import 'module/post'
@import 'module/postInfo'
@import 'module/postList'
@import 'module/section'
@import 'module/social'
@import 'module/space'
@import 'module/subinfo'
@import 'module/subscribeList'
@import 'module/tagging'
@import 'module/tagList'
@import 'module/yearList'
