/*! style.css | MIT License */

:root {
  --color-background: #f1f2f3;
  --color-sub: #d9dce2;
  --color-accent: #b8bed0;
  --color-text: #1b1c1f;
  --color-mark: #fff200;
  --color-code: #ffffff;
  --color-strong: #dd0000;
  --color-frame: #ffffff;
  --color-link: #336699;
  --color-visited: var(--color-text);
  --color-hover: var(--color-text);
  --color-active: var(--color-text);
  --color-focus: var(--color-text);
  --color-table-border: #d9dcdf;
  --color-table-caption: #d9dcdf;
  --color-table-stripe: #eaecee;

  --font-size-default: 1rem;
  --font-size-tiny: 1.125rem;
  --font-size-small: 1.25rem;
  --font-size-medium: 1.375rem;
  --font-size-large: 1.5rem;
  --font-size-huge: 2rem;

  --space-micro: 0.5rem;
  --space-default: 1rem;
  --space-tiny: 1.5rem;
  --space-small: 2rem;
  --space-medium: 4rem;
  --space-large: 6rem;
  --space-huge: 8rem;

  --line-height-default: 1;
  --line-height-tiny: 1.1;
  --line-height-small: 1.2;
  --line-height-medium: 1.4;
  --line-height-large: 1.6;
  --line-height-huge: 1.8;

  --size-body-inline: 64rem;
}

.-dark {
  --color-background: #1b1c1f;
  --color-sub: #2d3542;
  --color-accent: #d9dce2;
  --color-text: #e3e3e4;
  --color-mark: #9e0072;
  --color-code: #383f52;
  --color-strong: #ffa9a9;
  --color-frame: #36383f;
  --color-link: #88b0d8;
  --color-table-border: #000000;
  --color-table-caption: #000000;
  --color-table-stripe: #121317;
}

@media (prefers-color-scheme: dark) {
  .-system {
    --color-background: #1b1c1f;
    --color-sub: #2d3542;
    --color-accent: #d9dce2;
    --color-text: #e3e3e4;
    --color-mark: #9e0072;
    --color-code: #383f52;
    --color-strong: #ffa9a9;
    --color-frame: #36383f;
    --color-link: #88b0d8;
    --color-table-border: #000000;
    --color-table-caption: #000000;
    --color-table-stripe: #121317;
  }
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:focus {
  outline-offset: 2px;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}

body {
  margin-block-start: var(--space-medium);
  margin-block-end: var(--space-medium);
  margin-inline-start: auto;
  margin-inline-end: auto;
  padding: var(--space-default);
  max-inline-size: var(--size-body-inline);
  font-family: arial, sans-serif;
  color: var(--color-text);
  font-size: var(--font-size-default);
  background-color: var(--color-background);
}

img {
  border: 0 none;
  vertical-align: top;
}

mark {
  background-color: transparent;
}

a:link {
  color: var(--color-link);
}

a:visited {
  color: var(--color-visited);
}

a:hover {
  color: var(--color-hover);
}

a:active {
  color: var(--color-active);
}

a:focus {
  color: var(--color-focus);
}

li {
  list-style: none;
}

body > header > h1 {
  line-height: var(--line-height-default);
}

.Header {
  display: flex;
}

.Mode {
  position: relative;
  margin-block-start: auto;
  margin-inline-start: auto;
}

.Mode form {
  position: absolute;
  right: 0;
  display: flex;
  flex-direction: column;
  padding: var(--space-micro);
  line-height: var(--line-height-medium);
}

.Mode label {
  display: flex;
  align-items: baseline;
  gap: calc(var(--space-micro) / 2);
}

.Mode span {
  white-space: nowrap;
}

.Logo {
  display: block;
  width: 72px;
  height: 36px;
}
.Logo svg {
  vertical-align: top;
}
.Logo path {
  fill: var(--color-text);
}

.Post {
  overflow-wrap: break-word;
}
.Post h1 {
  font-size: var(--font-size-huge);
  font-weight: bold;
  line-height: var(--line-height-medium);
}
.Post h2,
.Post h3,
.Post h4 {
  clear: both;
  margin-block-start: var(--space-large);
  margin-block-end: var(--space-small);
}
.Post h2 {
  font-size: var(--font-size-large);
}
.Post h3 {
  font-size: var(--font-size-medium);
}
.Post h4 {
  font-size: var(--font-size-small);
}

.Post p {
  max-width: 39em;
  margin-block-start: var(--space-small);
  margin-block-end: var(--space-small);
  font-size: var(--font-size-tiny);
  line-height: var(--line-height-huge);
}
.Post .frame {
  max-width: initial;
  padding: var(--space-default);
  background-color: var(--color-frame);
}
.Post strong {
  color: var(--color-strong);
  font-weight: bold;
}
.Post em {
  font-weight: bold;
  font-style: normal;
}
.Post mark {
  padding-inline: 2px;
  background-color: var(--color-mark);
}
.Post img {
  max-width: 100%;
  height: auto;
  box-shadow: 0 0 0 1px var(--color-sub);
}
@media (prefers-color-scheme: dark) {
  .Post img {
    filter: brightness(85%);
  }
}
.Post img.-post110 {
  float: right;
  float: inline-end;
  margin-inline-start: 1em;
  margin-block-end: 1em;
  width: 30%;
  max-width: 240px;
}
.Post pre {
  margin-block: 2em;
  padding: 10px;
  border-radius: 2px;
  font-family: Consolas, monospace;
  line-height: var(--line-height-small);
  overflow: auto;
  background-color: var(--color-sub);
}
.Post code {
  padding-inline: 3px;
  border-radius: 3px;
  font-size: inherit;
  font-family: Consolas, monospace;
  background-color: var(--color-code);
}
.Post pre code {
  background-color: transparent;
}
.Post ins {
  text-decoration: none;
}
.Post aside {
  max-width: 32em;
  margin-inline-start: auto;
  line-height: var(--line-height-medium);
}
.Post hr {
  position: relative;
  margin-block-start: var(--space-large);
  margin-block-end: var(--space-large);
  border: none;
  line-height: var(--line-height-default);
}
.Post hr::after {
  content: "◦◦◦◦◦◦";
}
.Post ul,
.Post ol {
  margin-inline-start: 3em;
  max-width: 45em;
}
.Post li {
  list-style: inherit;
}
.Post ul li,
.Post ol li {
  line-height: var(--line-height-large);
}
.Post ul > li,
.Post ol > li {
  margin-block-start: var(--space-micro);
}
.Post table {
  margin-block-start: var(--space-small);
  margin-block-end: var(--space-small);
  width: 100%;
  border-collapse: collapse;
  text-align: center;
  line-height: var(--line-height-medium);
}
.Post caption {
  padding: 3px;
  border: 1px solid var(--color-table-border);
  border-bottom: 0 none;
  font-weight: bold;
  background-color: var(--color-table-caption);
}
.Post tbody tr:nth-child(2n) {
  background-color: var(--color-table-stripe);
}
.Post th,
.Post td {
  padding: 5px;
  border: 1px solid var(--color-table-border);
  word-break: break-word;
}
.Post blockquote {
  margin-block-start: var(--space-small);
  margin-block-end: var(--space-small);
  padding: 10px;
  border-radius: 3px;
  background-color: rgba(255, 255, 255, 0.3);
}
.Post blockquote p {
  margin: 0;
}
.Post blockquote p + p {
  margin-block-start: 1em;
}
.Post blockquote footer {
  text-align: end;
}
.Post iframe {
  margin-block-start: var(--space-small);
  margin-block-end: var(--space-small);
  border: 0 none;
  width: 100%;
}
@media (prefers-color-scheme: dark) {
  .Post iframe {
    filter: brightness(85%);
  }
}

.Share {
  display: flex;
  gap: var(--space-default);
  flex-wrap: wrap;
  line-height: var(--line-height-medium);
}

.Neighbor {
  display: flex;
  flex-direction: column;
  gap: var(--space-default);
  line-height: var(--line-height-medium);
}

.Primary {
  margin-block-end: var(--space-large);
  font-size: var(--font-size-small);
}

.Secondary {
  font-size: var(--font-size-small);
  line-height: var(--line-height-medium);
}

.Posts {
  display: flex;
  flex-direction: column;
  gap: var(--space-medium);
  list-style: none;
}
.Posts > li > a {
  font-size: var(--font-size-large);
  font-weight: bold;
  line-height: var(--line-height-medium);
}

.Publish {
  display: flex;
  gap: var(--space-micro);
  flex-wrap: wrap;
  margin-block-start: var(--space-micro);
  line-height: var(--line-height-medium);
}
.Publish dd:nth-child(2)::after {
  content: "◦";
  margin-inline-start: var(--space-micro);
}
.Publish dd:not(:nth-child(2)):not(:last-child)::after {
  content: ",";
}
.Post .Publish {
  margin-block-start: var(--space-default);
}
.Post .Publish + p {
  margin-block-start: var(--space-medium);
}

.More {
  margin-block-start: var(--space-huge);
}
.More a::after {
  content: " »";
}

.Pages {
  display: flex;
  gap: var(--space-default);
  flex-wrap: wrap;
  margin-block-start: var(--space-small);
  line-height: var(--line-height-medium);
}
.Pages address {
  display: inline;
}

.License {
  line-height: var(--line-height-medium);
}

.Pagetop {
  line-height: var(--line-height-medium);
}

.Border::before {
  content: "";
  display: block;
  margin-block-start: var(--space-huge);
  margin-block-end: var(--space-small);
  width: var(--space-small);
  height: 1px;
  background-color: var(--color-text);
}

.Invisible {
  position: fixed !important;
  top: 0 !important;
  left: 0 !important;
  display: block !important;
  width: 4px !important;
  height: 4px !important;
  margin: 0 !important;
  padding: 0 !important;
  border: none !important;
  opacity: 0 !important;
  overflow: hidden !important;
  visibility: visible !important;
}
