.container
  margin: auto
  padding: 0 $content_gutter
  max-width: $content_width
  @media (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape)
    padding-right: calc(env(safe-area-inset-right) * .75)
    padding-left:  calc(env(safe-area-inset-left) * .75)
