.nav

.nav__list
  display: flex
  justify-content: center
  align-items: center

.nav__item
  display: flex
  justify-content: center
  align-items: center
  & + &
    &::before
      content: ""
      margin: 0 1em
      width: 10px
      height: 10px
      background-color: rgba(c(text), .25)
      border-radius: 10px

.nav__link
  &.-current
    pointer-events: none
    color: c(text)
      pointer-events: none;
    background-image: linear-gradient(to top, rgba(c(mark), .75) 7px, rgba(255,255,255, 0) 7px)
