.neighbor

.neighbor__list
  list-style: inside none
  font-size: 14px
  line-height: 1.4

.neighbor__item
  display: flex
  align-items: baseline
  &::before
    width: 3em
    margin-right: 1em
    text-align: right
  &.-newer::before
    content: 'newer:'
  &.-older::before
    content: 'older:'
  & + &
    margin-top: 1em
