.postList
  list-style: inside none
  flex: 1 0 auto
  max-width: $content_width - $content_gutter*2 - $hang_width

.postList__item
  position: relative
  display: flex
  justify-content: space-between
  align-items: baseline
  +sp
    justify-content: flex-start
    flex-direction: column
  & + &
    margin-top: 45px

.postList__title
  flex: 0 1 auto
  font-size: 1.125rem
  line-height: 1.6
  +sp
    flex: 1 1 auto

.postList__tag
  position: absolute
  bottom: 100%
  font-size: 0.8125rem
  line-height: 1
  +sp
    position: static
    order: -1

.postList__time
  flex: 0 0 auto
  margin-left: 1em
  font-size: 0.9375rem
  line-height: 1
  +sp
    flex: 1 1 auto
    margin-left: 0
    font-size: 0.8125rem
