.postList

.postList__item
  margin-top: 45px
  list-style: inside none
  position: relative

.postList__title
  font-size: 1.125rem
  line-height: 1.6

.postList__tag
  position: absolute
  bottom: 100%
  font-size: 0.8125rem
  line-height: 1

.postList__time
  font-size: 0.8125rem
