.post

.post__footer
  font-size: 1rem

.post__timestamp
  display: inline-block

.post__tag
  display: inline-block
  margin-left: 1em

.post__title
  margin-top: 1em
  margin-bottom: 1em
  font-size: 2rem
  line-height: 1.6

.post__body
  word-break: break-all

  h2, h3, h4
    clear: both
    margin: 4em 0 2rem
    font-size: 1.5rem

  p
    margin: 1em 0
    line-height: 1.6

  .frame
    padding: 1em
    background-color: #fff

  code
    padding: 0 2px
    border-radius: 3px
    font-size: inherit
    font-family: Consolas, monospace
    word-break: break-all
    background-color: #fff

  img
    max-width: 100%
    height: auto
    border: 3px solid rgba(c(text), 0.75)
    &.thumbnail--post110
      float: left
      margin-right: 1rem
      margin-bottom: 1rem
      border: 0 none
      width: 30%
      max-width: 180px

  strong
    color: #dd0000
    font-weight: bold

  em
    font-weight: bold
    font-style: normal

  pre
    margin: 1em 0
    padding: 10px
    border-radius: 3px
    font-size: 1rem
    font-family: Consolas, monospace
    line-height: 1.1
    overflow-x: auto
    background-color: c(sub)
    code
      background-color: transparent

  mark
    padding-left: 2px
    padding-right: 2px
    background-color: c(mark)

  ins
    text-decoration: none

  aside
    margin: 1em 0 1em 25%
    font-size: 1rem

  hr
    position: relative
    margin: 2em auto
    height: 3px
    border: none
    line-height: 0
    &::after
      position: absolute
      top: calc(50% - 1.5px)
      left: calc(50% - 15px)
      content: ""
      width: 30px
      height: 3px
      background-color: c(sub)

  ul,
  ol
    margin: 1em 0
    line-height: 1.4

    > li
      margin-left: 2em

    ul, ol

  table
    margin: 1em 0
    width: 100%
    border-collapse: collapse
    font-size: 1rem
    text-align: center
    line-height: 1.4

  caption
    font-weight: bold
    background-color: c(sub)

  tr
    border-top: 1px solid rgba(0,0,0, 0.3)

  tr:nth-child(2n)
    background-color: rgba(255,255,255, 0.3)

  th,td
    padding: 3px

  th,td
    &:not(:first-child)
      border-left: 1px solid rgba(0,0,0, 0.3)

  .table--post48 td
    padding-top: 10px
    padding-bottom: 10px

  blockquote
    margin: 1em 0;
    padding: 10px
    border-radius: 3px
    background-color: rgba(255,255,255, 0.3)

    p
      margin: 0
      + p
        margin-top: 1em

    footer
      font-size: 1rem
      text-align: right

  iframe
    border: 0 none
    width: 100%

.post__external
  & + &
    margin-top: 1em
