.postList

.postList__item
  margin-top: 4rem
  list-style: inside none
  position: relative

.postList__title
  font-size: 1.375rem
  font-weight: bold
  line-height: 1.45

.postList__tag
  position: absolute
  bottom: calc(100% + 0.5rem)
  font-size: 1rem
  line-height: 1

.postList__time
  margin-top: 0.5rem
  font-size: 1rem
