.space
  &::before
    content: ""
    display: block
    width:  0
    height: var(--space)
  &.-thin
    &::before
      height: calc(var(--space) / 2)
  &.-wide
    &::before
      height: calc(var(--space) * 2)
