// .category-list, .year-list
.category-list,
.year-list,
.subscribe-list{
  list-style-type: none;
  list-style-position: inside;
  margin: 0;
  padding: 4px 0 0;
  font-size: 14px;
}

.year-list::after,
.category-list::after,
.subscribe-list::after{
  content: '';
  display: block;
  clear: both;
}

.category-list{
  li{
    float:left;
    padding-left: 8px;

    &::before{
      @extend %dotMark;
    }
  }
}

.year-list {
  > li {
    box-sizing: border-box;
    float: left;
    margin-bottom: 1em;
    width: 16.5%;
  }
}

.month-list{
  list-style-type: disc;
  padding-left: 0.5em;
}

.subscribe-list{
  li{
    float:left;
    padding-left:10px;

    &::before{
      @extend %dotMark;
    }
  }
}
