// entry footer
.entry-footer{
  font-size: 12px;

  &::after{
    @extend %clearfix;
  }

  time{
    float: left;
  }

  p{
    float: left;
    margin: 0;
    padding-left: 8px;

    &::before{
      @extend %dotMark;
    }
  }
}
