// global-footer
.global-footer {
  &:after {
    @include clearfix();
  }

  @include base-width("0 15px");
  font-size: $fs--small;

  @at-root .subinfo {
    padding: 0;
    font-size: 0;
    @include horizontal-list(&);

    &__item {
      font-size: $fs--small;
      & + & {
        &:before {
          @include circle-separator();
        }
      }
    }
  }

  @at-root .subinfo-license {
    font-size: inherit;
  }


  // 構造依存スタイル
  @at-root .contents + & {
    margin-bottom: $fs--medium*2;
    @include section-border($fs--medium*2);
  }

  & .author {
    float: left;
  }

  & .subinfo {
    float: right;
  }
}

