// global-header
.global-header {
  position: relative;
  @include base-width("30px 0");
  text-align: center;
  @include max-screen($screen-phone) {
    @include mobile-width("30px 0");
  }
}

.logo {
  margin: auto;
  width: 100px;
  height: 60px;
}

.logo + .site-nav {
  margin-top: 20px;
}

.logo-link {
  display: block;
}

.lede {
  position: absolute;
  top: 60px;
  right: 0;
  left: 0;
  margin: auto;
  color: rgba(0,0,0, 0.75);
  font-family: $vegur-l;
}

.site-nav-list {
  padding: 0;
  font-size: 0;
  @include horizontal-list(&);

  &__item {
    font-size: $fs--small;
    & + & {
      &:before {
        @include circle-separator();
      }
    }
  }

  // .site-nav-list > mark.site-nav-list-current
  &-current {
    font-family: $vegur-b;
    // border-bottom: 3px solid $color--white--medium;
    background-image: linear-gradient(to top, $color--white--medium 7px, rgba(255,255,255, 0) 7px);
  }

  // .site-nav-list > mark.site-nav-list-link--current
  &-link {
    &--current {
      pointer-events: none;
      // border-bottom: 3px solid $color--white--medium;
      background-image: linear-gradient(to top, $color--white--medium 7px, rgba(255,255,255, 0) 7px);
      &:link,
      &:visited {
        color: $color--base;
      }
    }
  }
}
