// headlinks
.headlinks{
  position: absolute;
  bottom: -5px;
  right: 15px;
  list-style-type: none;
  list-style-position: inside;
  margin: 0;
  padding-left: 0;

  &::after{
    @extend %clearfix;
  }

  li{
    float: left;
    padding-left: 8px;

    &+li::before{
      @extend %dotMark;
    }

    mark{
      border-bottom: 3px solid rgba(255,255,255,.5);
      background-color: transparent;
    }
  }
}
