// clearfix
@mixin clearfix() {
  content: "";
  clear: both;
  display: block;
}

// image replacement
@mixin ir() {
  text-indent: 101%;
  white-space: nowrap;
  overflow: hidden;
}

// base-width
@mixin base-width($padding-vals) {
  margin: auto;
  padding: #{$padding-vals};
  min-width: 320px;
  max-width: 640px;
}

// inline list
@mixin horizontal-list($self) {
  display: block;

  // Elementはinline化する
  @at-root #{$self}__item {
    display: inline;
  }
}

// ○の区切り記号をbeforeで出す
@mixin circle-separator() {
  content: "";
  box-sizing: content-box;
  display: inline-block;
  margin: 0 1rem;
  border-radius: 0.5rem;
  border: 2px solid $color--black--clear;
  width: 0.5rem;
  height: 0.5rem;
  vertical-align: baseline;
}

// -の区切り記号をbeforeで出す
@mixin line-separator() {
  content: "";
  // box-sizing: content-box;
  display: inline-block;
  margin: 0 0.5rem;
  border-radius: 3px;
  width: 0.6rem;
  height: 3px;
  vertical-align: 3px;
  background-color: $color--black--clear;
}

// セクションの見出し
@mixin section-heading($self) {
  // margin-bottom: 15px;
  font-family: "Vegur-Bold";
  font-size: $fs--large;
  font-weight: bold;
  // @at-root #{$self}:after {
  //   content: " : ";
  // }
}

// セクションの見出しとリストを横並びにする
// $selfには呼び出し側で&が指定される。＆と子要素の構造に依存したスタイルモジュール
@mixin horizontal-contents($self) {
  #{$self}__heading {
    padding-right: 15px;
    width: 100px;
    // text-align: right;
  }
  #{$self}__heading,
  #{$self}-list {
    display: inline-block;
  }
}
