.post {
  // post-list
  // in index, archive, demo
  &-list {
    // .post-listの隣接要素ならボーダーをつける
    .contents & {
      + .tag,
      + .year {
        @include section-border($fs--medium*2);
      }
    }
  }

  // post-link
  &-link {
    display: block;

    & + & {
      margin-top: 45px;
    }
  }

  // more link
  &-more {
    @at-root .post-list .post-link + & {
      margin-top: 30px;
    }
  }


  // post
  // .post-list > .post-link > .post
  // .post > .post-article
  &__title {
    font-family: "Vegur-Bold";
    font-size: $fs--huge;
    line-height: $lh--small;
    .post__footer + & {
      clear: both;
    }
  }

  &__footer + &__title {
    margin-top: ($fs--minimal);
  }

  // post-footer
  // in .post-article > .post-footer
  &__footer {
    @include clearfix();
    font-size: $fs--small;
    line-height: $lh--minimal;

    a & {
      color: $color--base;
    }

    a:hover & {
      .post-timestamp,
      .post-tag {
        text-decoration: none;
      }
    }

    // 構造依存スタイル
    & .post-timestamp,
    & .post-tag {
      float: left;
    }

    & .post-timestamp + .post-tag {
      &:before {
        @include line-separator();
      }
    }
  }

  // .post__body
  &__body {
    margin-top: $fs--huge;

    h2 {
      margin-top: $fs--maximal;
      margin-bottom: $fs--small;
      font-family: "Vegur-Bold";
      font-size: $fs--large;
    }

    p {
      margin-top: $fs--medium;
      margin-bottom: $fs--medium;
      line-height: 1.6;

      code {
        padding: 0 2px;
        border-radius: 3px;
        font-size: inherit;
        background-color: $color--white--light;
      }

      .demo-link {
        padding-left: $fs--large;
        background-image: url("/img/hyperlink.svg");
        background-repeat: no-repeat;
        background-size: $fs--large auto;
      }
    }

    img {
      max-width: 100%;
    }

    .post-image {
      &.is-alignCenter {
        text-align: center;
      }
      &.is-alignRight {
        text-align: right;
      }

      // img {
        .is-framed {
          padding: 10px;
          border-radius: 3px;
        }
        .is-whitefill {
          background-color: #fff;
        }
      // }
    }

    strong {
      color: #dd0000;
      font-weight: bold;
    }

    em {
      font-weight: bold;
      font-style: normal;
    }

    pre {
      padding: ($fs--minimal/1.5);
      border-radius: 3px;
      font-size: $fs--small;
      font-family: Consolas, monospace;
      background-image: url("/img/bg2.png");
      overflow-x: auto;
      & mark {
        padding-left: 2px;
        padding-right: 2px;
        background-color: $color--mark;
      }
    }

    ins {
      text-decoration: none;
    }

    aside {
      margin-top: $fs--medium;
      margin-bottom: $fs--medium;
      margin-left: 25%;
      font-size: $fs--small;
      line-height: $lh--small;
    }

    hr {
      margin: 1.875em auto;
      height: 1em;
      border: none;
      line-height: 0;
      background: url("/img/dash.svg") no-repeat center center;
    }

    ul,ol {
      list-style-position: inside;
      line-height: $lh--medium;
      ul,ol {
        margin-left: $fs--medium;
      }
    }

    table {
      margin-top: $fs--medium;
      margin-bottom: $fs--medium;
      width: 100%;
      border-collapse: collapse;
      font-size: $fs--small;
      text-align: center;
      line-height: $lh--medium;
    }

    caption {
      font-family: "Vegur-Bold";
      font-weight: bold;
      background-image: url("/img/bg2.png");
    }

    tr {
      border-top: 1px solid rgba(0,0,0, .1);
    }

    tr:nth-child(2n) {
      background-color: rgba(255,255,255,.1);
    }

    th {
      font-family: "Vegur-Bold";
    }
  }

  blockquote {
    padding: ($fs--minimal/1.5);
    border-radius: 3px;
    background-color: rgba(255,255,255,.2);

    footer {
      font-size: $fs--small;
      text-align: right;
    }
  }

  // contribute
  & &__contribute {
    display: block;
    float: left;
  }


  // social
  & &__social {
    @include clearfix();
    display: block;
  }
}
