// social buttons
.social-list {
  &:after {
    @include clearfix();
  }
  display: block;

  &__item {
    float: left;
    display: block;
    & + & {
      margin-left: 1.5rem;
    }
  }

  // 構造依存スタイル
  .post & {
    margin-top: 15px;
    float: right;
  }
}

.social-link {
  display: block;
  width: 3rem;
  height: 3rem;
  @include ir();
  background: no-repeat center center;
  background-size: 3rem 3rem;

  @at-root {
    $sl = &;
    .social-list__item {
      &--twitter #{$sl} {
        background-image: url("/img/twitter.svg");
      }
      &--facebook #{$sl} {
        background-image: url("/img/facebook.svg");
      }
      &--gplus #{$sl} {
        background-image: url("/img/googleplus.svg");
      }
      &--hatebu #{$sl} {
        background-image: url("/img/hatena-bookmark.svg");
      }
    }
  }
}
