// color setting
$color--base: #263540;
$color--link: #0075a9;
$color--visited: #ca176e;
$color--hover: #629a00;
$color--active: #ca176e;
$color--focus: #629a00;
$color--black--clear: rgba(0,0,0, .15);
$color--black--light: rgba(0,0,0, .3);
$color--black--medium: rgba(0,0,0, .5);
$color--black--deep: rgba(0,0,0, .7);
$color--black--dark: rgba(0,0,0, .9);

// font size
$fs--root: 10px;
$fs--minimal: 1.0rem;
$fs--tiny: 1.2rem;
$fs--small: 1.4rem;
$fs--medium: 1.5rem;
$fs--large: 1.8rem;
$fs--huge: 2.0rem;
$fs--gargantuan: 2.2rem;
$fs--enormous: 2.5rem;
$fs--maximal: 2.8rem;

// vertical rhythm
$lh--minimal: 1;
$lh--tiny: 1.2;
$lh--small: 1.4;
$lh--medium: 1.6;
$lh--large: 1.8;
$lh--huge: 2;
