// color setting
$color--link: #0075a9;
$color--visited: #ca176e;
$color--hover: #629a00;
$color--active: #ca176e;
$color--focus: #629a00;
$color--alphablack: rgba(0,0,0, .15);

// font size
$fs--root: 10px;
$fs--body: 1.6rem;
$fs--heading: 1.8rem;
$fs--table: 1.5rem;
$fs--sub: 1.4rem;
$fs--code: 1.4rem;
$fs--aside: 1.4rem;

// vertical rhythm
$line-height--base: 1.5;
$line-height--sub: 1.3;
$line-height--heading: 2;
$line-height--aside: 1.2;
