@font-face {
  font-family: 'Vegur-Regular';
  src: local('Vegur Regular'), local('Vegur Regular'), url(/font/Vegur-Regular.woff) format('woff');
}

@font-face {
  font-family: 'Vegur-Light';
  src: local('Vegur Light'), local('Vegur Light'), url(/font/Vegur-Light.woff) format('woff');
}

@font-face {
  font-family: 'Vegur-Bold';
  src: local('Vegur Bold'), local('Vegur Bold'), url(/font/Vegur-Bold.woff) format('woff');
}
