// year block
// only in index
.year {
  font-size: 0;

  &__heading {
    @include section-heading(&);
  }

  &-list {
    padding: 0;
    font-size: 0;
    @include horizontal-list(&);

    &__item {
      font-size: $fs--medium;
      & + & {
        &:before {
          @include line-separator();
        }
      }
    }
  }

  // 構造依存スタイル
  @include horizontal-contents(&);

  .tag + & {
    padding-top: 15px;
  }
}
