//- _demo-index.jade
//- タグアーカイブ
extends _default
//-
block contents
  section.post-list
    h1.archives-heading=page_title

    each post, i in demos
      a.post-link(href='/'+demo_base+post.page_id+'.html')
        article.post
          footer.post__footer
            +timestamp(post.page_datetime)
            +tag(post.page_tag, post.page_type)
          h1.post__title=post.page_title
