//- _demo.jade
//-
doctype html
html(lang='ja')
  head
    meta(charset='UTF-8')
    meta(content='width=device-width', name='viewport')
    title=page_title+title_suffix
    link(href=blog_url+demo_base+page_id+'.html', rel='canonical' itemprop='url')

  body
    if !no_footer
      footer
        small
          | published by 
          a(href='/') dskd 
          | on 
          time(datetime=(page_datetime+'+09:00'))=page_datetime.substring(0,10)
        if related_id
          p
          | related to 
          a(href=blog_url+archives_base+related_id+'.html')=blog_url+archives_base+related_id+'.html'

    != contents
