//- _var.jade
//-
//- global
block append var
  blog_name = 'dsld'
  blog_version = '5'
  blog_url = 'http://dskd.jp/'
  blog_description = 'dskd.jp is a memorandum of simple front-end technology.'
  blog_author = 'oti'
  blog_address = 'otiext.gmail.com'
  blog_feed = 'http://dskd.jp/feed'
  //-
  //- archives
  archives_base = 'archives/'
  archives_title_suffix = ' - dskd'
  //-
  //- individual
  //- 各変数は原稿mdファイルにyamlで書かれている
  page_type = ''
  page_id = ''
  page_datetime = ''
  page_tag = ''
  page_title = ''
  page_description = ''
  //-
  page_path = blog_url+(if (page_type!=='index') archives_base)+id+'.html'
