//- _tags.jade
//- タグアーカイブ
extends _layout
//-
block contents
  section.post-list
    - var list_limit = 1000;

    h1.archives-heading=page_title

    each post, i in tags[page_title]
      - if(i === list_limit) return
      a.post-link(href='/'+archives_base+post.page_id+'.html')
        article.post
          footer.post__footer
            +timestamp(post.page_datetime)
            +tag(post.page_tag, post.page_type)
          h1.post__title=post.page_title

    - if(page_type === 'index') {
        footer.post-more
          a(href='/'+archives_base) more »
    - }

  +tag-list(archives, archives_base)

  +year-list(archives, archives_base)
