:root {
  font-size: $fs--root;
}

* {
  margin: 0;
  padding: 0;
  &,
  &:before,
  &:after {
    box-sizing: border-box;
  }
}

html{
  font-feature-settings: "kern" 1,"liga" 1,"lnum" 1,"pnum" 1;
}

body {
  margin: 0;
  padding: 0;
  border-top: 5px solid $color--black--clear;
  color: $color--base;
  font-size: $fs--medium;
  font-family: $vegur-r, sans-serif;
  line-height: $lh--minimal;
  background: url(/img/bg.png) repeat fixed #d0d8dd;
}

main {
  display: block;
}

img {
  -ms-interpolation-mode: bicubic;
  border: 0 none;
  text-decoration: none;
  vertical-align: top;
  background: transparent;
}

mark {
  background-color: transparent;
}

a:link {
  color: $color--link;
  text-decoration: none;
}


a:visited {
  color: $color--visited;
}

a:hover {
  color: $color--hover;
  text-decoration: underline;
}

a:active {
  color: $color--active;
}

a:focus {
  color: $color--focus;
}
