// social buttons
.neighbor {
  &-list {
    list-style-type: none;
    line-height: $lh--small;

    // .neighbor-list__item
    &__item {
      clear: left;
      margin-left: 6rem;
      &:before {
        float: left;
        display: block;
        width: 5rem;
        margin-left: -6rem;
        color: $color--black--medium;
        text-align: right;
      }
      &--newer {
        &:before {
          content: "newer:";
        }
      }
      &--older {
        &:before {
          content: " older:";
        }
      }

      // 構造依存スタイル
      & + & {
        margin-top: 15px;
      }
    }
  }

  // 構造依存スタイル
  .post + & {
    @include section-border($fs--medium*2);
  }
}
