=flowList
  line-height: var(--line-height-medium)

  &__item
    list-style: inside none
    display: inline-block
    &:not(:last-child)
      margin-right: 1em


    a.-current
      color: var(--color-text)
      background-image: linear-gradient(to top, var(--color-mark) 7px, rgba(255,255,255, 0) 7px)
