=sp
  @media (max-width: $breakpoint - 1)
    @content

=pc
  @media (min-width: $breakpoint)
    @content

=flowList
  line-height: 1.6

  &__item
    list-style: inside none
    display: inline-block
    &:not(:last-child)
      margin-right: 1em


    a.-current
      color: c(text)
      background-image: linear-gradient(to top, c(mark) 7px, rgba(255,255,255, 0) 7px)
