// MediaQueries
@mixin max-screen($break-point) {
  @media screen and (max-width: $break-point) {
    @content;
  }
}
@mixin min-screen($break-point) {
  @media screen and (min-width: $break-point) {
    @content;
  }
}
@mixin screen($break-point-min, $break-point-max) {
  @media screen and (min-width: $break-point-min) and (max-width: $break-point-max) {
    @content;
  }
}

// clearfix
@mixin clearfix() {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

// image replacement
@mixin ir() {
  text-indent: 101%;
  white-space: nowrap;
  overflow: hidden;
}

// base-width
@mixin base-width($padding-vals) {
  margin: auto;
  padding: #{$padding-vals};
  // min-width: 320px;
  max-width: 640px;
}

// mobile-width
@mixin mobile-width($padding-vals) {
  margin: auto;
  padding: #{$padding-vals};
  // min-width: 320px;
  max-width: $screen-phone;
}

// inline list
@mixin horizontal-list($self) {
  display: block;

  // Elementはinline化する
  @at-root #{$self}__item {
    display: inline;
    // line-height: $lh--medium;
  }
}

// ○の区切り記号をbeforeで出す
@mixin circle-separator() {
  content: "";
  box-sizing: content-box;
  display: inline-block;
  margin: 0 1rem;
  border-radius: 0.5rem;
  border: 1px solid $color--black--clear;
  width: 0.5rem;
  height: 0.5rem;
  vertical-align: 1px;
}

// -の区切り記号をbeforeで出す
@mixin line-separator() {
  content: "";
  // box-sizing: content-box;
  display: inline-block;
  margin: 0 0.5rem;
  border-radius: 3px;
  border: 1px solid $color--black--clear;
  width: 0.6rem;
  height: 3px;
  vertical-align: 3px;
  // background-color: $color--black--clear;
}

// セクションの見出し
@mixin section-heading($self) {
  // margin-bottom: 15px;
  font-family: "Vegur-Bold";
  font-size: $fs--large;
  font-weight: bold;
}

// セクションの見出しとリストを横並びにする
// $selfには呼び出し側で&が指定される。＆と子要素の構造に依存したスタイルモジュール
@mixin horizontal-contents($self) {
  // 見出し部をfloatし、後続のリストを横並びにする
  #{$self}__heading {
    float: left;
    padding-right: 15px;
    width: 100px;
    // text-align: right;
  }

  #{$self}-list {
    // 折り返し対応
    overflow: hidden;
  }
  // #{$self}__heading,
  // #{$self}-list {
  //   display: inline-block;
  // }
}

// セクションの区切りborder
@mixin section-border($val) {
  margin-top: $val;
  padding-top: $val;
  border-top: 1px solid $color--black--clear;
}
