doctype html
html(lang='ja')
  head
    meta(charset='UTF-8')
    meta(content='width=device-width,viewport-fit=cover', name='viewport')
    title ベストオブ2017 - dskd
    meta(content='/img/blog-cover.png', itemprop='image')
    meta(content='どっちかというと充実した一年だったんだと思う', name='description')
    meta(content='http://dskd.jp/archives/92.html', property='og:url')
    meta(content='ベストオブ2017', property='og:title')
    meta(content='どっちかというと充実した一年だったんだと思う', property='og:description')
    meta(content='/img/blog-cover.png', property='og:image')
    meta(content='article', property='og:type')
    meta(content='ja_JP', property='og:locale')
    meta(content='dskd', property='og:site_name')
    link(href='http://dskd.jp/archives/92.html', rel='canonical', itemprop='url')
    link(href='/img/blog-icon.png', rel='apple-touch-icon-precomposed')
    link(href='/feed', rel='alternate', type='application/rss+xml')
    link(href='style.css', rel='stylesheet', media='only screen')
  body
    .container
      header.header
        h1.logo
          a(href='/')
            svg
        nav.nav
          ul.nav__list
            li.nav__item
              a(href='/archives/') all posts
            li.nav__item
              a(href='/about.html') what's dskd?

      .space(style='--h: 60px')

      main.contents
        article.post
          footer.post__footer
            time.post__timestamp(datetime='2017-12-21T12:00:00+09:00') 2017-12-21
            p.post__tag
              a(href='/archives/advent_calendar.html') Advent Calendar
              | ,
              a(href='/archives/note.html') note

          header.post__header
            h1.post__title(itemprop='name') ベストオブ2017

          .post__body(itemprop='articleBody')
            p
              a(href='https://adventar.org/calendars/2469') 2017 Advent Calendat 2017
              | の21日目。
            p
              | 一年早いもので、
              a(href='http://dskd.jp/archives/86.html') 去年のベストオブ2016の記事
              | から5つしかブログを書いていないのにもう年末だ。6つ目がこの記事である。
            p
              | 去年がこの10年で一番のゲキエモだった。エモ過ぎてあの記事を読み返すたびにしんどいが、最後のベストツイートを見ると元気になるので我ながらいいお口直しを入れたもんだと思う。
            p さて2017年。12月も下旬を迎えてみれば、今年もじゅうぶんにエモみあるアレコレがハプンしたりしなかったりした。そんなわけでいくつか取り上げてみたいと思う。
            h2#- 共著
            p
              a(href='https://www.amazon.co.jp/dp/4797389656/') いちばんよくわかるWebデザインの基本 きちんと入門
            p
              | やったのは去年。出たのは今年。おかげさまで3刷いった。ありがとうございます！　書くのはどう考えても大変なので書いてる時のことについては特に言うことはない。深夜に食べるデニーズのパンケーキで明らかに太ったと言う事実だけ残っている。
            h2#- 登壇
            p
              | かつては僕も憧れた
              a(href='http://cssnite.jp/lp/lp54/') CSS Nite
              | に登壇した。参加していただいた皆様ありがとうございます！
              a(href='https://twitter.com/kojika17') 同僚の久保
              | とのペア登壇で「CSSをちゃんと書くためには？」というテーマで久保は素のCSS、僕はSassでちゃんとやる手法について話した。発表準備はどう考えても大変なので、それについては特に言うことはない。確証を得るために調べて、
              a(href='http://dskd.jp/archives/90.html') そのついでに書いた記事
              | は本番では触れることなく終わった。該当するスライドも10数秒で送ったと思う。一瞬しか見えないものに数時間かける。制作って感じがした。
            h2#bem BEM
            p
              | 年の半ばから数ヶ月ほど、サービスのモックアップをマークアップする仕事をしていた。そこではHTMLをBEMっていたのだけど、やってくうちに「今の自分のBEMではよくない」と気付き始めて、そこで折良くダーシマパイセンが書いた
              a(href='https://necomesi.jp/blog/tsmd/posts/152') 細かすぎるけど伝わってほしい私的BEMプラクティス30（ぐらい）
              | という記事に大いに膝を打った。細かすぎるが僕には伝わりまくったので、以来これで書いている。
            h2#- テキーラ
            p
              | どういうことかわからないが、今年はテキーラをとにかくたくさん飲んだ。改めてお伝えしたい。テキーラは罰ゲームでパカパカ空けていいものではない。酒に強いからといってパカパカ空けていいわけでもない。命の取り合いになるぞ。
            p 今年の最高記録はいまのところDAYで21杯だった。来年は1杯も飲まないようにしたいが、その前に年末が怖い。更新したらおそらく死ぬ。
            h2#- 風貌
            p 夏あたりから徐々にイカつくなった。外見は変わっても中身は同じなので安心してほしい。
            h2#- キレ
            p
              | イベントにたくさん参加したと思う。毎月どこかに行っていた。参加したイベントで苦言を呈しすぎたせいでいつもどこかでキレていると思われているっぽい。当然理由があってキレてるんだけど、 そういうのを積極的に見たい人はほぼいないと思うので来年は気をつけたい。
            h2#- 中本
            p
              | 蒙古タンメン中本。去年から「野菜抜き」オプションにハマって、そればっか食べている。
              a(href='https://twitter.com/i/moments/939566486321971200') ここにまとめてある
              | ので「ヤ抜」に興味を持った方は試してみてほしい。野菜がなくても中本は美味い。ヤ抜できる店舗とできない店舗があるので注意。野菜があっても中本は美味い。
            h2#tkg TKG
            p 集計していないけど今年もまあまぁ食べた。TKG食べました報告はFacebookでしかしていなくて、インスタでやってたら何か違ったかな〜と思うことがたまにある。
            p
              | Facebookで新しくフレンドになった人は、年末に
              a(href='https://www.facebook.com/otiext/videos/752582001601255/') 自動生成されるまとめ動画
              | にだいたい釣られる傾向にあるのでおもしろい。
            h2#- ダーツ
            p
              | じゃっかん戻ってきた気がする。打てるときはライブRt15くらいのスコアが出る。打てない時はRt5とか。ならすとRt10に届いてないぐらいだろうか。引っ越してからホームショップが変わり、ガチでやる相手がいないので寂しい。投げ友探してます。
            h2#- タイポ
            p
              a(href='https://twitter.com/typo_ti') たいぽち
              | というのを作った。自分のタイポをスクショする趣味があるのでそれを抜粋している。モーメントでやれという声が今聞こえた気がするがいったん無視する。
            hr
            h2#- 今年のベスト
            p
              | 人間関係に尽きると思う。イベントにあちこち出たおかげで頻繁に顔をあわせる人が増えた。一昨年まではイツメンとだらだら飲むくらいが関の山だったのだけど、仲良くなった人も増えたので、そうじゃない遊び方ができるようになった。すごく楽しい。
            p
              | 今まではわりと一人が楽だなぁと思うことの方が多かった。今年は誰かと一緒にいたいと思うことが多かった。分布でみるとちょっと差ができたくらいでどっちつかずのままでいる。たまに「誰かといつつ一人でいたい」というこじらせた感じになる時があり、それに適合する人がパートナーであったらと思ったりする。
            p 猫を飼えばいいのかなと思う。猫アレルギーなのでつらい。
            hr
            p 振り返るとなんだかんだでいろいろやっていた。去年立てた今年の目標はそれなりに実践できたと思う。来年はいかに引きこもれるかを目標にするつもりでる。
            p 来年もよろしくお願いします。

          .space

          aside.post__external
            .contribute
              a.contribute__item(href='https://github.com/oti/dskd/blob/master/src/md/post/92.md')
                svg.contribute__icon(xmlns='http://www.w3.org/2000/svg', version='1.1', width='36', height='36', viewbox='0 0 512 512')
                  title Patches welcome!
                  path(d='m 135.678,64.008\
                    c -3.152,0.066 -4.67,0.551 -4.67,0.551 -13.138,33.317 -4.86,57.92 -2.348,64.012 -15.472,16.939 -24.92,38.517\
                    -24.92,64.92 0,92.68 56.476,113.427 110.199,119.539 -6.917,6.039 -13.181,16.709 -15.355,32.338 -13.803,6.18\
                    -48.817,16.873 -70.389,-20.1 0,0 -12.786,-23.224 -37.074,-24.93 0,0 -23.599,-0.311 -1.654,14.701 0,0 15.851,\
                    7.438 26.854,35.391 0,0 14.198,43.17 81.488,28.539 0.105,20.21 0.33,63.268 0.33,69.031 l 119.93,0 c 0,-7.967\
                    0.279,-58.012 0.279,-90.375 0,-22.566 -7.73,-37.285 -16.406,-44.791 53.86,-5.988 110.445,-26.44 110.445,-119.344\
                    0,-26.403 -9.382,-47.981 -24.891,-64.92 2.512,-6.092 10.791,-30.695 -2.375,-64.012 0,0 -20.286,-6.493 -66.451,\
                    24.801 -19.33,-5.359 -40.036,-8.047 -60.592,-8.143 -20.555,0.096 -41.252,2.784 -60.545,8.143 -31.775,-21.514\
                    -51.302,-25.168 -60.404,-25.352 -0.517,-0.010 -1.001,-0.009 -1.451,0 z M 103.867,307.432 c 0.157,0.005 0.316,\
                    0.019 0.479,0.043 l 0,0.004 c 0.432,0.064 0.88,0.2 1.318,0.406 1.755,0.789 2.753,2.439 2.148,3.645 -0.533,1.206\
                    -2.419,1.567 -4.141,0.742 -1.759,-0.794 -2.742,-2.433 -2.174,-3.639 0.293,-0.694 1.019,-1.104 1.91,-1.186 l 0,\
                    -0.002 c 0.149,-0.014 0.302,-0.018 0.459,-0.014 z m 9.611,8.316 c 1.107,-0.023 2.409,0.573 3.447,1.68 1.586,1.706\
                    1.893,3.941 0.688,5.027 -1.154,1.070 -3.41,0.575 -4.936,-1.115 -1.587,-1.686 -1.878,-3.946 -0.709,-5.027 0.297,-0.267\
                    0.654,-0.439 1.051,-0.516 0.149,-0.029 0.301,-0.045 0.459,-0.049 z m 9.566,12.371 c 1.376,-0.074 3.002,0.847\
                    4.141,2.445 1.478,2.187 1.481,4.765 -0.033,5.818 -1.481,1.034 -3.912,0.070 -5.41,-2.080 -1.481,-2.154 -1.483,\
                    -4.735 0.035,-5.768 0.374,-0.258 0.809,-0.391 1.268,-0.416 z m 11.6,13.744 c 1.343,-0.063 2.941,0.566 4.242,\
                    1.803 2.099,1.946 2.736,4.73 1.326,6.176 -1.325,1.461 -4.146,1.075 -6.213,-0.924 -2.115,-1.946 -2.706,-4.718\
                    -1.381,-6.18 0.505,-0.549 1.219,-0.837 2.025,-0.875 z m 17.607,10.516 c 0.653,0.008 1.339,0.113 2.029,0.328\
                    2.731,0.825 4.521,3.025 3.953,4.951 -0.588,1.895 -3.303,2.752 -6.043,1.947 -2.735,-0.83 -4.524,-3.042 -3.971,\
                    -4.957 0.427,-1.43 2.072,-2.291 4.031,-2.27 z m 39.473,0.832 c 0.345,-0.013 0.682,-0.002 1.006,0.033 1.943,0.213\
                    3.451,1.246 3.725,2.73 0.344,1.943 -1.656,3.936 -4.512,4.469 -2.808,0.516 -5.405,-0.683 -5.762,-2.609 -0.349,-1.995\
                    1.678,-3.997 4.486,-4.514 0.358,-0.062 0.712,-0.097 1.057,-0.109 z m -18.926,2.363 0.002,0 c 2.875,-0.055 5.234,\
                    1.554 5.234,3.533 0.068,1.995 -2.255,3.647 -5.131,3.684 -2.891,0.064 -5.236,-1.551 -5.268,-3.514 0,-2.014 2.275,\
                    -3.651 5.162,-3.703 z')
            ul.social(role='complementary')
              li.social__item
                a.social__link(href='https://twitter.com/intent/tweet?text=%E3%83%99%E3%82%B9%E3%83%88%E3%82%AA%E3%83%962017&url=http%3A%2F%2Fdskd.jp%2Farchives%2F92.html&via=dskd_jp&related=o_ti')
                  svg.social__icon(xmlns='http://www.w3.org/2000/svg', version='1.1', width='30', height='30', viewBox='0 0 512 512')
                    title この記事をツイートする
                    path(d='m 492.25513,109.45554 c -17.3837,7.71137 -36.06909,12.9208 -55.67589,15.26445 20.0108,-11.99704\
                      35.3839,-30.99434 42.6228,-53.63232 -18.7327,11.11108 -39.4783,19.17684 -61.5611,23.52394 C 399.95964,75.77025 374.76533,64\
                      346.88243,64 c -53.5354,0 -96.94214,43.40248 -96.94214,96.93794 0,7.59797 0.85714,14.99749 2.51021,22.09224 -80.56685,-4.04233\
                      -151.99913,-42.63701 -199.810355,-101.2874 -8.34549,14.31707 -13.12595,30.97071 -13.12595,48.73712 0,33.63331 17.1137,63.30462\
                      43.12683,80.68829 -15.891,-0.50323 -30.83959,-4.8645 -43.9085,-12.12463 -0.009,0.404 -0.009,0.808 -0.009,1.21908 0,46.96827\
                      33.4162,86.14696 77.762265,95.05546 -8.13333,2.2149 -16.697575,3.4009 -25.538725,3.4009 -6.24683,0 -12.31954,-0.6091 -18.23962,-1.7398\
                      12.33607,38.5115 48.137025,66.5411 90.557625,67.32 -33.1771,26.0028 -74.975875,41.5006 -120.395075,41.5006 -7.82503,0 -15.54208,-0.4604\
                      -23.12533,-1.3556 C 62.645325,431.9485 113.60183,448 168.34645,448 c 178.30949,0 275.81908,-147.7158 275.81908,-275.82103 0,-4.20299\
                      -0.097,-8.38234 -0.2835,-12.54044 18.943,-13.66973 35.3769,-30.74154 48.3733,-50.183')

              li.social__item
                a.social__link(href='https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fdskd.jp%2Farchives%2F92.html')
                  svg.social__icon(xmlns='http://www.w3.org/2000/svg', version='1.1', width='30', height='30', viewBox='0 0 512 512')
                    title この記事をFacebookでシェアする
                    path(d='M 350.91219,71.614712 C 340.53238,69.394135 330.69668,67.581123 321.40507,66.175623\
                      312.11313,64.770925 302.0055,64.045698 291.08215,64 c -31.8188,0.13635 -54.79897,7.479112 -68.94053,22.02831 -14.14167,14.54991\
                      -21.07653,35.49043 -20.80449,62.82154 l 0,39.70536 -40.24932,0 0,64.18134 40.24932,0 0,195.26345 78.32293,0 0,-195.26345 57.11046,0\
                      5.43913,-64.18134 -62.54959,0 0,-31.00281 c -0.45338,-8.7929 0.86105,-15.68239 3.94335,-20.66856 3.08201,-4.98552 10.6514,-7.52376\
                      22.70821,-7.61472 4.8157,0.0227 10.41343,0.38559 16.79319,1.0878 6.37942,0.70287 12.38509,1.60939 18.017,2.71955 z')
              li.social__item
                a.social__link(href='http://b.hatena.ne.jp/my/add.confirm?title=%E3%83%99%E3%82%B9%E3%83%88%E3%82%AA%E3%83%962017&url=http%3A%2F%2Fdskd.jp%2Farchives%2F92.html')
                  svg.social__icon(xmlns='http://www.w3.org/2000/svg', version='1.1', width='30', height='30', viewBox='0 0 512 512')
                    title この記事をはてブする
                    path(d='M 64 96 L 64 416 L 212 416 C 252 416 292 404 308 368 C 328 332 320 276 284 252 C 272 244 260 240 248\
                      236 C 276 232 300 212 300 184 C 304 156 296 120 268 108 C 236 96 192 96 160 96 L 64 96 z M 364 96 L 364 308 L 444 308 L 444 96 L 364\
                      96 z M 144 156 C 144 156 188 156 200 160 C 224 168 224 208 196 212 C 188 216 144 216 144 216 L 144 156 z M 144 280 C 144 280 188 280\
                      208 284 C 232 288 240 312 228 332 C 220 348 204 348 188 348 L 144 348 L 144 280 z M 404 328 A 44 44 0 0 0 360 372 A 44 44 0 0 0 404\
                      416 A 44 44 0 0 0 448 372 A 44 44 0 0 0 404 328 z')

        .space(style='--h: 30px')

        .border

        .space(style='--h: 30px')

        nav.neighbor
          ul.neighbor__list
            li.neighbor__item.-newer
              a.neighbor-link(href='/archives/91.html') SVG pointer-events 2017
            li.neighbor__item.-older
              a.neighbor-link(href='/archives/91.html') SVG pointer-events 2017

      .space(style='--h: 30px')

      .border

      .space(style='--h: 30px')

      footer.footer
        p.author dskd.jp made by #[adress.author__address: a(href='mailto:otiext@gmail.com') oti].
        ul.subinfo
          li.subinfo__item
            a(href='http://creativecommons.org/licenses/by-nc/4.0/', rel='license')
              small.subinfo__license CC BY-NC
          li.subinfo__item
            a(href='/feed', alternate='application/rss+xml') RSS

      .space(style='--h: 30px')
