/*
 * dskd.jp Stylesheet
 *
 *  @author  oti(@o_ti)
 *  @version 6.0.0
 *  @browser
 */

*
  margin: 0
  padding: 0

body
  color: #263540
  background-color: #d0d8dd
  text-align: center


.header
  margin: auto
  width: 64ch


.logo
  a
    display: block

.nav

.nav__list

.nav__item

.container
  margin: auto
  width: 64ch

.postList

.postList__item

.post

.post__footer

.post__time

.post__tag

.post__title

.pos__tagg

.post-more

.tag

.tag__heading

.tag__list

.tag__item

.tag__link

.year

.year__heading

.year__list

.year__item

.subscribe

.subscribe__heading

.subscribe-list

.subscribe-list__item

.subscribe-link

.footer
  margin: auto
  width: 64ch

.author

.author__address

.subinfo

.subinfo__item

.subinfo__license
