/*
 * dskd.jp Stylesheet
 *
 *  @author  oti(@o_ti)
 *  @version 6.0.0
 *  @browser
 */

// 1em = 16px
@function s($px)
  @return #{$px / 16 + em}

*
  margin: 0
  padding: 0

body
  color: #263540
  background-color: #d0d8dd

.block
  display: block
  &.-v30
    height: s(30)
  &.-v60
    height: s(60)


.header
  margin: auto
  width: s(640)


.logo
  a
    display: block

.nav

.nav__list
  display: flex
  justify-content: center
  align-items: center

.nav__item
  display: flex
  justify-content: center
  align-items: center
  & + &
    &::before
      content: "";
      margin: 0 1em
      width: .5em
      height: .5em
      background-color: rgba(#263540, .25)
      border-radius: 100em


.container
  margin: auto
  width: s(640)

.postList

.postList__item

.post

.post__footer

.post__time

.post__tag

.post__title

.pos__tagg

.postMore

.tag

.tag__heading

.tag__list

.tag__item

.tag__link

.year

.year__heading

.year__list

.year__item

.subscribe

.subscribe__heading

.subscribe-list

.subscribe-list__item

.subscribe-link

.footer
  margin: auto
  width: s(640)

.author

.author__address

.subinfo

.subinfo__item

.subinfo__license
